 *{
    font-family: 'Roboto Serif', serif;
 }
 .banner-section{
    width: 1440px;
    height: 669px;
    background: #f1dede;
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-position:center;
 }
 .banner{
    position: absolute;
    padding-top: 121px;
    padding-left: 156px;
 }
 .banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #FAFAFA;
    padding-bottom: 24px;
 }
 .description{
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-bottom: 24px;
 }
  .btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FF5959;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
  }
  .btn-secondary{
    height: 64px;
    border-radius: 5px;
    background: #ffffff;
    color: #707070;;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin-left: 16px;
  }
